<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Set your browser-->
		<add key="Browser" value ="Firefox"/>
		<add key="tests" value="parallel"/>
		<add key="thread-count" value="2"/>
		<add key="ElementTimeout" value="30"/>
		<add key ="StartUrl" value ="https://yandex.by/"/>
		<add key ="URI" value ="http://localhost:4444/wd/hub"/>
		<add key = "login" value = "Snieczka"/>
		<add key ="password" value = "2020327abcd"/>
	</appSettings>
</configuration>